
@{
    ViewBag.Title = "ShowImage";
}

@{ 
     ViewBag.LabelStatus = System.Resources.Status;
     //Logo
     byte[] imgbytes = File.ReadAllBytes(@"
<img src="~/Content/Images/Ganesh.jpg" />");
     return File(imgbytes, "image/png");
}

<h2>ShowImage</h2>
<div id="drawForm">
    < img src="controllerName/ShowImage" alt="Ganpati" />
</div>

